//includeConfig 'configs/local.config'
includeConfig 'configs/sge.config'

// paired-end reads?
params.paired = true
// path to pipeliner-2
params.pip2 = "$MLAB/CBMGIT/pipeliner-2"
// path to working directory (where inputs and ouputs will likely be)
params.wrkdir = "/path/to/workdir/"
params.outdir = "${params.wrkdir}/results"
// path to where all the 'indices' (genomes, etc.) are
params.idxdir = "$MLAB/CBMrepositoryData/path/to/indices"
params.fasta = "${params.idxdir}/genomes/GRCm39_genomic.fa"
params.gtf = "${params.idxdir}/genomes/GRCm39_annotation.gtf"
params.index = "${params.idxdir}/hisat/index/part"
