profiles {
  local {
    process.executor = "local"    
    cpus = 1
  }
  sge {
    process {
      executor = "sge"
      scratch = true
      maxForks = 31
      errorStrategy = "finish"
      clusterOptions = "-P montilab-p -pe omp 16"
      container = "montilab/pipeliner:latest"
    }
    //singularity.enabled = true
  }
  docker {
    process.container = "montilab/pipeliner:latest"
    docker.enabled = true
  }
}

