PROJECT = "agedisease"

process {
  executor = "sge"

  withName: FASTQC {
    clusterOptions = "-P ${PROJECT} -l h_rt=6:00:00 -pe omp 2"
  }
  withName: TRIM_GALORE {
    clusterOptions = "-P ${PROJECT} -l h_rt=6:00:00 -pe omp 4"
  }
  withName: HISAT_MAPPING {
    clusterOptions = "-P ${PROJECT} -l h_rt=36:00:00 -pe omp 8"
  }
  withName: FEATURE_COUNTS {
    clusterOptions = "-P ${PROJECT} -l h_rt=3:00:00 -pe omp 4"
  }
  withName: FEATURE_COUNTS_MATRIX {
    clusterOptions = "-P ${PROJECT} -l h_rt=3:00:00 -pe omp 2"
  }
  withName: MULTIQC {
    clusterOptions = "-P ${PROJECT} -l h_rt=12:00:00 -pe omp 4"
  }
}
